html{
    font-family: "Montserrat", sans-serif;
}
header{
    color: #DC143C;
}
footer{
    color: #DC143C;
}
body{
    background-color: #000000;
}
article{
    color: #DC143C;
}
main{
    color: #DC143C;
}
img{
    border-radius: 10px;
}
nav ul{
    background-color: #000000;
    border-style: solid;
    border-color: #DC143C;
    border-width: 2px;
    padding: 10px;
    border-radius: 10px;
}
nav ul li{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: #DC143C;
}
nav ul li a{
    text-decoration: none;
}
.topDivider{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #DC143C;
    padding-bottom: 10px;
}

.card:hover{
    border-color: #DC143C;
}
.cardLink{
    color: inherit;
    text-decoration: none;
}
.someSpacing{
    padding: 10px;
    margin-top: 20px;
}
#myCoolText{
    color: #DC143C;
    border: 2px ridge #DC143C;
    padding: 15px;
    text-align: center;
}
#textAlign{
    text-align: center;
}
@keyframes myFirstAnimation{
    from{
        width: 05px;
    }
    to{
        width: 100px;
    }
}
@keyframes tinyPictureAnimation{
    from{
        width: 05px;
        height: 05px;
    }
    to{
        width: 150px;
        height: 150px;
    }
}
.tinyPicture{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    animation-name: tinyPictureAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.stylishBox{
    background-color: #000000;
    color: #DC143C;
    border-style: solid;
    border-width: 2px;
    border: 2px solid #F0FFFF;
    border-radius: 10px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  max-height: 450px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.attPageLayoutGrid{
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
	grid-template-areas:
    	"agArticle agAside1"
    	"agArticle agAside2"
        "agArticle agAside3"
        "agArticle agAside4"
        "agArticle agAside5";
    
}
.attGridArticle {
    grid-area: agArticle;
}
.attGridAside1 {
    grid-area: agAside1;
}
.attGridAside2 {
    grid-area: agAside2;
}

